<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${user.email}"></span></strong> with roles: <span
            th:text="${user.getStringRoles()}"></span></a>
    <a class="nav-link text-secondary " href="/logout"><h6>Logout</h6></a>
</nav>

<!--</body>-->

<div class="container-fluid ">
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-lg-2 ">


            <!-- left column -->
            <div class="list-group col-sm-12 sidenav">
                <form action="/admin" method="GET">
                    <button class="btn btn-primary btn-block" style="text-align: left" type="submit">Admin</button>
                </form>
                <form action="/user" method="GET">
                    <button class="btn btn-link btn-block" style="text-align: left" type="submit">User</button>
                </form>
            </div>
        </div> <!-- right column -->

        <div class="col-lg-10 gray tab-content">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">User Table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile" aria-selected="false">New User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h4>All users</h4>
                    <!--UserTable-->
                    <div style="margin-left:0%;">
                        <table class="table table-striped table-bordered">

                            <thead>
                            <tr>
                                <th>User id</th>
                                <th>User name</th>
                                <th>User password</th>
                                <th>User email</th>
                                <th>User city</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                            </thead>

                            <tbody id="all_users_table">
                            <!--                            <tr th:each="user : ${users}">-->

                            <!--                                <td th:text="${user.id}"/>-->
                            <!--                                </td>-->
                            <!--                                <td th:text="${user.username}"/>-->
                            <!--                                </td>-->
                            <!--                                <td th:text="${user.password}"/>-->
                            <!--                                </td>-->
                            <!--                                <td th:text="${user.email}"/>-->
                            <!--                                </td>-->
                            <!--                                <td th:text="${user.city}"/>-->
                            <!--                                </td>-->
                            <!--                                <td th:text="${user.getStringRoles()}"/>-->
                            <!--                                </td>-->
                            <!--                                <td>-->
                            <!--                                    <button class="btn btn-info btn-sm" style="color:white"-->
                            <!--                                            data-toggle="modal"-->
                            <!--                                            th:attr="data-target='#editModal'+${user.getId()}">-->
                            <!--                                        Edit-->
                            <!--                                    </button>-->


                            <!--                                </td>-->

                            <!--                                <td>-->
                            <!--                                    <button class="btn btn-danger btn-sm" style="color:white"-->
                            <!--                                            data-toggle="modal"-->
                            <!--                                            th:attr="data-target='#deleteModal'+${user.getId()}">-->
                            <!--                                        Delete-->
                            <!--                                    </button>-->

                            <!--                                </td>-->
                            <!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- New User-->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <!--Начало New User-->
                    <form class="mx-auto text-center" id="newUserForm" style="width: 20%; background: white; margin:1%">
                        <p class="newUserP">Username</p>
                        <input type="text" class="form-control" id="newUsername" name="newUsername"
                               placeholder="Username"/>

                        <p class="newUserP">City</p>
                        <input type="text" class="form-control" id="newCity" name="newCity" placeholder="City"/>

                        <p class="newUserP">Email</p>
                        <input type="text" class="form-control" name="newEmail" placeholder="Email"/>

                        <p class="newUserP">Password</p>
                        <input type="text" class="form-control" name="newEmail" id="newPassword"
                               placeholder="password"/>

                        <p class="newUserP">Role</p>
                        <select multiple="multiple" class="form-control" style="height:3em;" id="newNameRoles"
                                name="newNameRoles">
                            <option th:each="role : ${roles}"
                                    th:value="${role.role}"
                                    th:text="${role.role}"
                                    th:selected="${role.role} == USER"></option>
                        </select>

                        <button onclick="createNewUser()" class="btn btn-success d-block mx-auto"
                                style="margin-top: 20px">Add new user
                        </button>
                    </form>
                </div>
                <!-- Modal EditUser -->
                <div class="modal hide" tabindex="-1" id="editModal"
                     aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog modal-content">
                        <form id="editUserForm">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit User</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mx-auto text-center"
                                 style="background: white; width : 40%">
                                <p class="text-center newUserP">Id</p>
                                <input type="number" class="form-control" name="eId"
                                       th:value="${user.getId()}" readonly/>

                                <p class="newUserP">User name</p>
                                <input type="text" class="form-control" name="eUsername"
                                       th:value="${user.getUserName()}"/>

                                <p class="newUserP">Password</p>
                                <input type="text" class="form-control" name="ePassword"
                                       th:value="${user.getPassword()}"/>

                                <p class="newUserP">Email</p>
                                <input type="text" class="form-control" name="eEmail"
                                       th:value="${user.getEmail()}"/>

                                <p class="newUserP">City</p>
                                <input type="text" class="form-control" name="eCity"
                                       th:value="${user.getCity()}"/>

                                <p class="newUserP">Role</p>
                                <select multiple="multiple" class="form-control" style="height:3em;"
                                        name="eNameRoles">

                                </select>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-secondary closeButton"
                                       data-dismiss="modal" value="Close">
                                <input type="submit" class="btn btn-primary" value="Edit"
                                       id="updateButton">
                            </div>
                        </form>
                    </div>
                </div>
                <!--Modal DeleteUser-->
                <div class="modal hide" id="deleteModal" tabindex="-1"
                     aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                    <div class="modal-dialog modal-content">

                        <form id="deleteUserForm">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete User</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="mx-auto modal-body text-center"
                                 style="background: white; width: 40%;">

                                <p class="newUserP">Id</p>
                                <input type="text" class="form-control"
                                       id="modalId" readonly/>

                                <p class="newUserP">Username</p>
                                <input type="text" class="form-control"
                                       id="modalUsername" readonly/>

                                <p class="newUserP">City</p>
                                <input type="text" class="form-control"
                                       id="modalCity" readonly/>

                                <p class="newUserP">Email</p>
                                <input type="number" class="form-control"
                                       id="modalEmail" readonly/>

                                <p class="newUserP">Password</p>
                                <input type="password" class="form-control"
                                       id="modalPassword" readonly/>

                                <p class="newUserP">Role</p>
                                <select multiple class="form-control" style="height:3em;"
                                        id="modalRoles" name="nameRoles" readonly>

                                </select>
                            </div>

                        </form>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-secondary  closeButton"
                                   value="Close" data-dismiss="modal">

                            <button class="btn btn-danger" onclick="deleteUser()">Delete</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="/admin.js"></script>
</body>
</html>